# โฟลเดอร์เก็บแพ็กเกจของ npm (ห้ามอัปโหลดเด็ดขาด เพราะไฟล์เยอะและหนักมาก)
node_modules/

# ไฟล์เก็บตัวแปรความลับ (เช่น รหัสผ่าน Database, พอร์ต)
.env

# ไฟล์ขยะที่ระบบปฏิบัติการ Mac สร้างขึ้น (ถ้าใช้ Mac)
.DS_Store

# ไฟล์ Log ต่างๆ ที่เกิดจากการรันระบบ
npm-debug.log*
yarn-debug.log*
yarn-error.log*